.mr-sm-2 {
  margin-left: 1000px;
  width: 300px;
  margin-top: -80px;
}
* {
  font-family: arial;
}
.sear {
  position: relative;
  margin-top: -50px;
  padding-bottom: 40px;
}
.material-icon img {
  width: 18px;
  border-radius: 10px;
}
.sear-b {
  border-radius: 5px;
  position: relative;
  margin-left: 21px;
}
.search-bar {
  transition: 0.6s all ease-in-out;
  border-radius: 5px;
}
.search-bar:focus-visible {
  outline: none;
  box-shadow: 0px 0px 6px 6px rgba(6, 226, 234, 0.15);
}
.search-a input {
  width: 700px;
  border-radius: 5px;
}
.search {
  margin-top: -150px;
}
.album {
  position: relative;
  align-items: left;
}
div .title {
  position: relative;
  margin-top: -100px;
}
.search-name input{
  width: 450px;
  position: relative;
  align-items: start;
}
.search-name{
  margin-top: 23px;
  margin-bottom: 40px;
  margin-left: 100px;
}
.title {
  font-family: Arial;
  color: white;
  font-size: 60px;
}
.album-i {
  width: 241px;
  height: 67px;
  color: rgba(255, 255, 255, 0.808);
  font-size: 50px;
  font-family: Arial;
  font-weight: 900;
  word-wrap: break-word;
}
.album-content {
  width: 200px;
  min-height: 35px;
  margin: 20px;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
}
.album-content-solo,
.album-content-band,
.album-content-movie,
.album-content-magazine,
.album-content-rock {
  position: relative; 
}

.album-content-solo::after,
.album-content-band::after,
.album-content-movie::after,
.album-content-magazine::after,
.album-content-rock::after {
  content: "";
  position: absolute; 
  left: 0; 
  bottom: -2px; 
  width: 100%;
  height: 2px; 
  background-color: white; 
  visibility: hidden; 
  transition: visibility 0.3s ease; 
}

.album-content-solo:hover::after,
.album-content-solo:focus::after,
.album-content-band:hover::after,
.album-content-band:focus::after,
.album-content-movie:hover::after,
.album-content-movie:focus::after,
.album-content-magazine:hover::after,
.album-content-magazine:focus::after,
.album-content-rock:hover::after,
.album-content-rock:focus::after {
  visibility: visible; 
}
.bg-solo {
  color: white;
}
.album-content-solo {
  text-decoration: none;
  color: black;
  margin-left: -135px;
}

.album-content-band {
  text-decoration: none;
  color: black;
  margin-left: -130px;
}
.hover-item:hover {
  scale: 1.03;
  transform: translateY(2px) ;
  transition: 0.3s;
  border-radius: 5px;
}
.album-content:hover {
  scale: 1.03;
  transition: 0.3s;
}
.album-content-solo:hover,
.album-content-band:hover,
.album-content-movie:hover,
.album-content-magazine:hover,
.album-content-rock:hover {
  color: aliceblue;
  scale: 1.03;
}

.album-content-movie {
  text-decoration: none;
  color: black;
  margin-left: -110px;
}
.album-content-magazine {
  text-decoration: none;
  color: black;
  margin-left: -40px;
}
.album-content-rock {
  text-decoration: none;
  color: black;
  margin-left: -120px;
}
.album-item {
  width: 155px;
  height: 470px;
  position: relative;
}
.click-detail button {
  max-width: 200px;
  min-width: 200px;
  background-color:rgba(20, 106, 255, 0.064);
}
.vitri {
  position: relative;
  margin-top: 18px;
  margin-left: -6px;
  width: 100%;
}


.album-item-img {
  width: 197px;
  height: 240px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.album-item-name {
  width: 150px;
  height: 50px;
  left: 15px;
  top: 260px;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.819);
  font-size: 20px;
  font-family: arial;
  font-weight: 300;
  word-wrap: break-word;
}
.album-item-prices {
  display: flex;
  position: relative;
  margin-top: -20px;
  justify-content: space-evenly;
}
.album-item-price {
  width: 60px;
  padding: 10px;
  margin-top: 430px;
  color: red;
}
.album-item-sell {
  width: 60px;
  padding: 10px;
  margin-top: 430px;
  text-decoration: line-through;
  color: gray;
}
.album-item-percent {
  width: 38px;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 200;
  word-wrap: break-word;
  margin-top: 442px;
  background-color: gold;
}

.price-rock {
  width: 100px;
}
#form-order {
  background-color: rgba(0, 0, 0, 0.262);
}
.price-maga {
  margin-left: 12px;
}
.describe-describe {
  height: 720px;
}
.related-title{
  text-align: start;
  color: aliceblue;
  font-weight: bold;
}
#related-item{
  width: 150px;
  max-height: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  background-color: rgba(0, 0, 0, 0.644);
}
#related-img{
  width: 100%; 
  max-width: 100%;
  height: 60%;
  max-height: 60%;
}
#related-name{
  height: 30%;
  width: 100%;
  max-width: 90%;
  max-height: 30%;
  margin-top: -105px;
  font-size: 10px;
  margin-left: -5px;
}
#related-price{
  height: 100%;
  width: 100%;
  max-width: 90%;
  margin-top: -2px;
  font-size: 13px;
  margin-left: -10px;
}
#related-price-i{
  margin-top: 220px;
}
#related-price-o{
  margin-top: 228px;
}
.related-kc{
  display: flex;
  justify-content: space-evenly;
}
.band-maga{
  margin-left: 40px;
}

