.mr-sm-2 {
  /* position: relative;
  float: right; */
  margin-left: 1000px;
  width: 300px;
  margin-top: -80px;
}
* {
  font-family: arial;
}
.sear {
  position: relative;
  margin-top: -50px;
  padding-bottom: 40px;
}
.material-icon img {
  width: 18px;
  border-radius: 10px;
}
.sear-b {
  border-radius: 5px;
  position: relative;
  margin-left: 21px;
}
.search-bar {
  transition: 0.6s all ease-in-out;
}
.search-bar:focus-visible {
  outline: none;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 128, 0.499);
}
.search-a input {
  width: 700px;
  border-radius: 5px;
}
.search {
  margin-top: -150px;
}
.album {
  position: relative;
  align-items: left;
}
div .title {
  position: relative;
  margin-top: -100px;
  padding-bottom: 100px;
}
.title {
  font-family: Arial;
  color: white;
  font-size: 60px;
}
.album-i {
  width: 241px;
  height: 67px;
  color: rgba(255, 255, 255, 0.808);
  font-size: 50px;
  font-family: Arial;
  /* font-style: italic; */
  font-weight: 900;
  word-wrap: break-word;
}
.album-content {
  width: 200px;
  min-height: 35px;
  margin: 20px;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
}
.album-content-solo,
.album-content-band,
.album-content-movie,
.album-content-magazine,
.album-content-rock {
  position: relative; /* Thiết lập vị trí tương đối để chứa đường kẻ dưới */
}

.album-content-solo::after,
.album-content-band::after,
.album-content-movie::after,
.album-content-magazine::after,
.album-content-rock::after {
  content: ""; /* Tạo một phần tử giả để làm đường kẻ dưới */
  position: absolute; /* Thiết lập vị trí tuyệt đối để đặt đường kẻ dưới */
  left: 0; /* Đặt vị trí bắt đầu của đường kẻ dưới */
  bottom: -2px; /* Đặt vị trí dưới của đường kẻ dưới (ở đây là 2px) */
  width: 100%; /* Độ rộng của đường kẻ dưới */
  height: 2px; /* Chiều cao của đường kẻ dưới */
  background-color: white; /* Màu của đường kẻ dưới */
  visibility: hidden; /* Ẩn đường kẻ dưới mặc định */
  transition: visibility 0.3s ease; /* Hiệu ứng chuyển đổi khi hiển thị đường kẻ dưới */
}

.album-content-solo:hover::after,
.album-content-solo:focus::after,
.album-content-band:hover::after,
.album-content-band:focus::after,
.album-content-movie:hover::after,
.album-content-movie:focus::after,
.album-content-magazine:hover::after,
.album-content-magazine:focus::after,
.album-content-rock:hover::after,
.album-content-rock:focus::after {
  visibility: visible; /* Hiển thị đường kẻ dưới khi di chuột qua hoặc khi văn bản đang được chọn */
}
.bg-solo {
  color: white;
}
.album-content-solo {
  text-decoration: none;
  color: black;
  margin-left: -135px;
}

.album-content-band {
  text-decoration: none;
  color: black;
  margin-left: -130px;
}
.hover-item:hover {
  scale: 1.03;
  transition: 0.3s;
  border-radius: 5px;
}
.album-content:hover {
  scale: 1.03;
  transition: 0.3s;
}
.album-content-solo:hover,
.album-content-band:hover,
.album-content-movie:hover,
.album-content-magazine:hover,
.album-content-rock:hover {
  color: aliceblue;
  scale: 1.03;
}

.album-content-movie {
  text-decoration: none;
  color: black;
  margin-left: -110px;
}
.album-content-magazine {
  text-decoration: none;
  color: black;
  margin-left: -40px;
}
.album-content-rock {
  text-decoration: none;
  color: black;
  margin-left: -120px;
}
.album-item {
  /* margin-bottom: 20px; */
  width: 155px;
  height: 470px;
  position: relative;
  /* background: rgba(255, 255, 255, 0.1); */
}
.click-detail button {
  max-width: 200px;
  min-width: 200px;
  /* width: 25%; */
  background-color: black;
}
.vitri {
  position: relative;
  margin-top: 21px;
}

.album-item-img {
  width: 175px;
  height: 240px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.album-item-name {
  width: 150px;
  height: 50px;
  left: 15px;
  top: 260px;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.819);
  font-size: 20px;
  font-family: arial;
  font-weight: 300;
  word-wrap: break-word;
}
.album-item-prices {
  display: flex;
  position: relative;
  margin-top: -20px;
  justify-content: space-evenly;
}
.album-item-price {
  width: 60px;
  padding: 10px;
  margin-top: 430px;
  color: red;
}
.album-item-sell {
  width: 60px;
  padding: 10px;
  margin-top: 430px;
  text-decoration: line-through;
  color: gray;
}
.album-item-percent {
  width: 38px;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 15px;
  font-family: Inter;
  font-weight: 200;
  word-wrap: break-word;
  margin-top: 442px;
  background-color: gold;
}
.sear {
  margin-left: 1000px;
}
.price-rock {
  width: 100px;
}
#form-order {
  background-color: rgba(0, 0, 0, 0.262);
}
.price-maga {
  margin-left: 12px;
}
.describe-describe {
  height: 720px;
}
