.footer {
    background-color: var(--cold-greyblack);
    height: 407px;
    position: relative;
    width: 1868px;
  }
  
  .footer .overlap {
    height: 406px;
    left: 39px;
    position: absolute;
    top: 39px;
    width: 387px;
  }
  
  .footer .overlap-group {
    height: 406px;
    left: 0;
    position: absolute;
    top: 0;
    width: 387px;
  }
  
  .footer .line {
    height: 406px;
    left: 386px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1px;
  }
  
  .footer .img {
    height: 9px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 98px;
    width: 386px;
  }
  
  .footer .site-logo {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 49px;
    left: 6px;
    position: absolute;
    top: 24px;
    width: 229px;
  }
  
  .footer .line-2 {
    height: 20px;
    position: relative;
    width: 4px;
  }
  
  .footer .line-3 {
    height: 16px;
    position: relative;
    width: 4px;
  }
  
  .footer .line-4 {
    height: 12px;
    position: relative;
    width: 4px;
  }
  
  .footer .div {
    color: #ffffff;
    font-family: "Roboto-Light", Helvetica;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .footer .group {
    height: 38px;
    left: 3px;
    position: absolute;
    top: 165px;
    width: 234px;
  }
  
  .footer .address-instance {
    left: 37px !important;
    position: absolute !important;
    top: 0 !important;
    width: 197px !important;
  }
  
  .footer .design-component-instance-node {
    color: #ffffff !important;
    font-size: 13px !important;
    height: 15px !important;
    top: 11px !important;
    white-space: nowrap !important;
  }
  
  .footer .icon {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 6px !important;
    width: 24px !important;
  }
  
  .footer .group-2 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 211px;
    width: 186px;
  }
  
  .footer .design-component-instance-node-2 {
    left: 37px !important;
    position: absolute !important;
    top: 2px !important;
  }
  
  .footer .email-instance {
    color: #ffffff !important;
    font-size: 14px !important;
    height: 16px !important;
    text-align: unset !important;
    top: 0 !important;
  }
  
  .footer .icon-instance-node {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
  }
  
  .footer .text-wrapper-2 {
    color: var(--cold-greywhite);
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 126px;
    white-space: nowrap;
  }
  
  .footer .group-3 {
    height: 24px;
    left: 0;
    position: absolute;
    top: 255px;
    width: 176px;
  }
  
  .footer .phone-number-instance {
    color: #ffffff !important;
    font-size: 14px !important;
    height: 16px !important;
    top: 0 !important;
  }
  
  .footer .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 16px;
    left: 110px;
    position: absolute;
    top: 318px;
  }
  
  .footer .social-instance {
    height: 30px !important;
    position: relative !important;
    width: 30px !important;
  }
  
  .footer .social-2 {
    border-radius: 15px !important;
    height: 30px !important;
    width: 30px !important;
  }
  
  .footer .social-3 {
    height: 20px !important;
    left: 5px !important;
    top: 5px !important;
    width: 20px !important;
  }
  
  .footer .arrows-instance {
    height: 34px !important;
    left: 1389px !important;
    position: absolute !important;
    top: 434px !important;
    width: 34px !important;
  }
  
  .footer .menu-footer-vert1 {
    left: 501px !important;
    position: absolute !important;
    top: 53px !important;
    width: 203px !important;
  }
  
  .footer .menu-footer-vert3 {
    left: 736px !important;
    position: absolute !important;
    top: 53px !important;
    width: 203px !important;
  }
  
  .footer .p {
    color: #ffffff;
    font-family: "Inter-LightItalic", Helvetica;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    left: 1417px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 367px;
    white-space: nowrap;
  }
  
  .footer .map {
    height: 244px;
    left: 1423px;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 304px;
  }
  
  .footer .address-2 {
    color: #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 15px;
    left: 1398px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 304px;
    width: 396px;
  }
  