.home-container {
    background: linear-gradient(rgb(85, 85, 105), rgb(20, 20, 20));
    height: 100%;
    overflow: hidden;
}
  
  .carousel-container1 {
    margin-top: 100px;
    width: 100%;
  }
  
  .carousel-title {
    position: relative;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, gold, silver);
    color: red;
    text-shadow: 2px 2px darkgray;
  }
  
  .carousel-content {
    height: 100%;
  }