.navbar{
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-direction: row;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(25, 25, 25);
}

.navbar-button{
    margin: auto;
    margin-left: 10px;
    width: 100px;
    color: black;
}

.navbar-button-container{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.shop-name{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(#777777, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:link{
    text-decoration: none;
}

.search{
    font-size: 20px;
    background: linear-gradient(#777777, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.icon-1{
    color: white;
    margin: auto;
}

.icon-container-1{
    display: flex;
    height: 100px;
    width: 30px;
}

.cart-label-container{
    color: white;
    margin: auto;
}

.cart-label{
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 100%;
    width: 21px;
    height: 21px;
}