.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
}
.user-name {
  color: blue;
}

.usr-avatar {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.user-position {
  color: red;
  font-style: italic;
}
.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}
.student {
  margin: 20px;
  padding: 20px;
  box-shadow: red 0px 3px 6px;
}

/* con tro chuot chuyen thanh hinh ban tay */
.student:hover {
  cursor: pointer;
}
