.buttons {
  all: unset;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 12px;
  padding: 18px 34px;
  position: relative;
}

.buttons .button {
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.buttons .instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.buttons .text-wrapper {
  font-family: var(--h5-font-family);
  font-size: var(--h5-font-size);
  font-style: var(--h5-font-style);
  font-weight: var(--h5-font-weight);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  position: relative;
  width: fit-content;
}

.buttons.fill-false {
  border: 1px solid;
  border-color: var(--general-blue);
}

.buttons.fill-true {
  background-color: var(--general-blue);
}

.buttons.fill-false .button {
  color: var(--general-blue);
}

.buttons.fill-true .button {
  color: var(--general-light);
}

.buttons.fill-false .text-wrapper {
  color: var(--general-blue);
}

.buttons.fill-true .text-wrapper {
  color: var(--general-light);
}
