.pricing {
  align-items: center;
  background-color: var(--general-light);
  border-radius: 20px;
  box-shadow: var(--big);
  display: flex;
  flex-direction: column;
  gap: 26px;
  overflow: hidden;
  padding: 0px 0px 30px;
  position: relative;
  width: 266px;
}

.pricing .indicator {
  align-self: stretch;
  background-color: var(--general-dark);
  height: 4px;
  position: relative;
  width: 100%;
}

.pricing .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  padding: 0px 30px;
  position: relative;
  width: 100%;
}

.pricing .title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.pricing .basic {
  color: var(--general-dark);
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-style: var(--h3-font-style);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  margin-left: -52px;
  margin-right: -52px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 310px;
}

.pricing .element {
  color: var(--general-dark);
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-style: var(--h1-font-style);
  font-weight: var(--h1-font-weight);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  position: relative;
  text-align: center;
  width: fit-content;
}

.pricing .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.pricing .element-seat-available {
  color: var(--general-dark);
  font-family: var(--main-regular-font-family);
  font-size: var(--main-regular-font-size);
  font-style: var(--main-regular-font-style);
  font-weight: var(--main-regular-font-weight);
  letter-spacing: var(--main-regular-letter-spacing);
  line-height: var(--main-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pricing .text-wrapper-2 {
  color: var(--general-dark);
  font-family: var(--main-regular-font-family);
  font-size: var(--main-regular-font-size);
  font-style: var(--main-regular-font-style);
  font-weight: var(--main-regular-font-weight);
  letter-spacing: var(--main-regular-letter-spacing);
  line-height: var(--main-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.pricing .buttons-instance {
  border-radius: 5px !important;
  flex: 0 0 auto !important;
}
